*.dat
*.fits
*.csv
*.pyc
*.h5
*.png
*.zip
*.dot
*.pdf
*.npy
*.eps
*.swp
*.swo
*log*
*.out
*.ipynb
.vscode/
dataset/
Finished_Models/
Back/
Network_Models*/
Analyzing_Results*/
*.npz
.DS_Store
__pycache__/
.vscode
output
*.log
dataset
*.pkl
